body {
    font-family: Lato, sans-serif;
    background-color: #eeeeee;
}

h1, h2, h3, h4{
    font-family: Montserrat, sans-serif;
    color: #5d700e;
}
#banner {
    height: 400px;
    background-color: lightgreen;
}

.main-container {
    margin-top: 50px;
}

.main-container p{
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-stretch: condensed;
}

/*Navigation menu*/
.navbar-default {
    font-family: 'Montserrat', sans-serif;
}

/*Side menu*/
.side-menu a{
    font-family: Montserrat, sans-serif;
}
.side-menu a:hover{
    background-color: lightgreen;
}

.box{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 300px;
}
.box a{
    padding: 5px;
    display: block;
}

.notice-box{
    background-color: #fcffef;
}
.birthday-box{
    background-color: #fcffef;
}

.content{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dedede;
    min-height: 350px;    
}

.content  .subject{
    font-size: 1.3em;
    font-family: "Bitter", serif;
    color: #4a3fa8;
}
.content .time{
    margin-top: 8px;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    color:#5d700e;
}

/*Album*/

.album-img-div{
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.first {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul.first li {
    list-style:none;
    margin-bottom:30px;
}
ul.first li img {
    cursor: pointer;
}


.redb{
    border:1px solid red;
}
.blueb{
    border: 1px solid blue;
}

