body {
    font-family: Lato, AponaLohit, sans-serif;
    background-color: #eeeeee;
}

h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
    color: #5d700e;
}

#banner {
    background-color: #62aebd;
    min-height: 250px;
    margin: 50px 0 30px 0;
    position: relative;
}

#banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.post .body p {
    font-family: "Lato", "Noto Sans Bengali", sans-serif;
    font-size: 1.1em;
    font-stretch: condensed;
}

.post .subject {
    font-size: 1.4em;
    font-family: Bitter, SutonnyOMJ, serif;
    color: #4a3fa8;
}

/*Navigation menu*/
.navbar-default {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

/*Side menu*/
.side-menu a {
    font-family: Montserrat, sans-serif;
}

.side-menu a:hover {
    background-color: lightgreen;
}

.box {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    height: 300px;
}

.box a {
    padding: 5px;
    display: block;
}

.notice-box {
    background-color: #fcffef;
}

.birthday-box {
    background-color: #fcffef;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dedede;
    min-height: 350px;
    margin-bottom: 15px;
}

.content .time {
    margin-top: 8px;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    color: #5d700e;
}

.img-wrapper {
    overflow: hidden;
    height: 180px;
}

/*Album*/
.album {
    height: 250px;
    max-height: 250px;
    padding: 10px;
}

.album > .thumbnail {
    opacity: 0.9;
    max-height: 200px;
}

.album > .details {
    padding: 7px;
}

.album > .details > .name {
    font-size: 1.05em;
    color: #2a88bd;
    font-family: Bitter, serif;
    display: block;
    width: 100%;
}

ul.first {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ul.first li {
    list-style: none;
    margin-bottom: 30px;
}

ul.first li img {
    cursor: hand;
}

.redb {
    border: 1px solid red;
}

.blueb {
    border: 1px solid blue;
}

img {
    cursor: pointer;
}

.post {

}

.post .body {
    font-family: AponaLohit, serif;
}